doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title BattleMap - Sign Up
		include includes/styles.pug
		link(rel="stylesheet", href="/styles/form.css")
	body
		.vignette
		include includes/navbar.pug
		main.wrap.form-container
			form#signup-form.form(autocomplete="off", spellcheck="false", method="post")
				h2 Registration
				section.split
					div
						h3
							label.label(for="username") Username
							input#username(
								type="text",
								name="username",
								placeholder="maximum 32 chars",
								maxlength="32",
								autofocus,
								required)

					div
						h3
							label.label(for="password") Password
							input#password(
								type="password",
								name="password",
								placeholder="minimum 8-digit",
								minlength="8",
								required)

				section.split
					p Have an account?
						a(href="/login") Login

					.button-holder
						button.button Sign up

				p
					output#output

		include includes/scripts.pug
		script(src="/scripts/signup.js")